<h2>Add to Profile</h2>
<form (ngSubmit)="onSubmit()" class="flex">
  <div>
    <label for="date" > What's Today's Date?  </label>
    <div>
      <p-calendar [(ngModel)]="newList.date" [inline]="true" name="date"></p-calendar>
    </div>
  </div>
<div>
  <label for="fatigue" > Did you feel fatigue?  </label>
  <p-checkbox name="fatigue" value="true" [(ngModel)]="newList.fatigue"></p-checkbox>
</div>
<div>
  <label for="sleep" > Did you get 8 hours or more sleep?  </label>
  <p-checkbox name="sleep" value="yes" [(ngModel)]="newList.sleep"></p-checkbox>
</div>
<div>
  <label for="exercise" > Did you exercise?  </label>
  <p-checkbox name="exercise" value="true" [(ngModel)]="newList.exercise"></p-checkbox>
</div>
<div>
  <label for="meal" > How many meals did you have?  </label>
  <p-listbox [options]="meals" [(ngModel)]="newList.meal" name="meal"></p-listbox>
</div>
<div>
  <label for="category" > How busy were you?  </label>
  <p-listbox [options]="category" [(ngModel)]="newList.category" name="category"></p-listbox>
</div>
<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <div>
            <label for="blog"> In one word, how was your day? </label>
            <input type="text" pInputText placeholder="one word" [(ngModel)]="newList.description" name="description">
          </div>
        </div>
    </div>
</div>
<label for="blog"> Brief Notes About the Day </label>
<div>
  <textarea pInputTextarea [(ngModel)]="newList.blog" name="blog"></textarea>
</div>
<div>
  <button pButton type="submit" (click)="showViaService()" label="submit"></button>
</div>
<p-messages [(value)]="msgs"></p-messages>
</form>
