.container-material-card {
  border-radius: 25px;
  width: 600px;
  margin: 0 auto;
  height: 50px;
}
.container-material-card-blog {
  height: 100px;
  border-radius: 25px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.label-answer {
  float: right;

}
.text-answer {
  display: block;
  margin: 0 auto;
}

.submit-btn-container {
  text-align: center;
  font-size: 15px;
  color: red;
}
.submit-btn {
  font-size: 20px;

}
