<nav>
  <md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav>
      <div>
        <button md-button [mdMenuTriggerFor]="materialMenu">Material</button>
        <md-menu #materialMenu="mdMenu">
          <div class="nav">
            <div><a uiSref="addlist" uiSrefActive="active">addlist</a></div>
          </div>
        </md-menu>
      </div>
      <div>
        <button md-button [mdMenuTriggerFor]="primengMenu">Primeng</button>
        <md-menu #primengMenu="mdMenu">
          <div class="nav">
            <div><a uiSref="viewlist" uiSrefActive="active">viewlist</a></div>
            <div><a uiSref="chart" uiSrefActive="active">chart</a></div>
          </div>
        </md-menu>
      </div>
      <md-chip-list>
        <md-chip class="chips"><a uiSref="addlist" uiSrefActive="active">addlist</a></md-chip>
        <md-chip class="chips"><a uiSref="viewlist" uiSrefActive="active">viewlist</a></md-chip>
        <md-chip class="chips"><a uiSref="chart" uiSrefActive="active">chart</a></md-chip>
      </md-chip-list>
    </md-sidenav>

    <md-toolbar class="primary">
      <div>
        <button type="button" md-button (click)="sidenav.open()">
            <i class="material-icons">menu</i>
          </button>
      </div>
      <span class="tagline">Habit Maker</span>
      <span class="rightside-tool-bar"></span>
      <span>
          <a uiSref="home" uiSrefActive="active">
            <i class="material-icons">home</i>
          </a>
        </span>
    </md-toolbar>

    <ui-view></ui-view>
  </md-sidenav-container>
</nav>
